<h1>Our wonderfully generous donators...</h1>

<% @donators.each do |donator| %>
  <article>
    <header>
      <%= image_for(donator) %>
      <h2><%= link_to donator.name, donator %></h2>
    </header>
    <p>
      <a href="<%= donator.website %>" target="_blank"><%= donator.website%></a>
    </p>
    <h4>What they have given to us to share...</h4>
    <p class="indent">
      ~ <%= donator.donation %>
    </p>
    <br><br>
  </article>
<% end %>