<article>
  <header align="center">
    <%= image_for(@donator) %>
    <h1><%= @donator.name %></h1>
    <p>
      <a href="<%= @donator.website %>" target="_blank"><%= @donator.website %></a>
    </p>
    <p>
      <%= @donator.address %>
    </p>
    <p>
      <%= @donator.phone %>
    </p>
    <p>
      <%= mail_to(@donator.email) %>
    </p>
  </header>
  <br>
  <p>
    <%= @donator.description %>
  </p>
  <br>
  <h4>What they have given to us to share...</h4>
  <p class="indent">
    ~ <%= @donator.donation %>
  </p>
  <nav>
    <% if current_user_admin? %>
      <%= link_to "Edit Donator", edit_donator_path(@donator), class: 'btn btn-warning' %>
      <%= link_to "Delete Donator", donator_path(@donator), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to permanently delete your account?' } %>
    <% end %>
  </nav>
</article>