<%= bootstrap_form_for(@inventory) do |f| %>
  <%= render "shared/errors", object: @inventory %>
  <fieldset>
    <%= f.text_field :name, autofocus: true %>
    <%= f.text_field :pref_size, label: "Prefered Size" %>
    <h5>Running low?</h5>
    <%= f.form_group :running_low do %>
      <%= f.radio_button :running_low, true, label: "Yes", inline: true %>
      <%= f.radio_button :running_low, false, label: "No", inline: true %>
    <% end %>
    <% if @inventory.new_record? %>
      <%= f.submit "Create", class: 'btn btn-success' %>
    <% else %>
      <%= f.submit "Update", class: 'btn btn-success' %>
    <% end %>
    <%= link_to "Cancel", inventories_path, class: 'btn btn-warning' %>
  </fieldset>
<% end %>