<% content_for(:title, @inventory.name) %>

<article>
  <header>
    <h1><%= @inventory.name %></h1>
    <p>
      Prefered Size: <%= @inventory.pref_size %>
    </p>
    <p>
      Running Low?: <%= @inventory.running_low %>
    </p>  
  </header>
  <br>
  <nav>
    <% if current_user_admin? %>
      <%= link_to "Edit Inventory", edit_inventory_path(@inventory), class: 'btn btn-warning' %>
      <%= link_to "Delete Inventory", inventory_path(@inventory), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to permanently delete your account?' } %>
      <%= link_to "Add Another", new_inventory_path, class: 'btn btn-success' %>
    <% end %>
  </nav>
</article>