<% content_for(:title, @user.name) %>

<article id="user">
  <header>
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <p><%= @user.availability_notes %></p>
  </header>
  <nav>
    <% if current_user_admin? %>
      <%= link_to "Edit This User", edit_user_path(@user), class: 'btn btn-warning' %>
      <%= link_to "Delete This User", user_path(@user), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </nav>
</article>