<%= bootstrap_form_for(@event) do |f| %>
  <%= render "shared/errors", object: @event %>
  <fieldset>
    <%= f.text_field :title, size: 50, autofocus: true %>
    <%= f.date_field :date_start %>
    <%= f.date_field :date_end %>
    <%= f.text_area :details, cols: 50, rows: 2 %>
    <p>
      <%= f.submit(class: 'btn btn-success') %>
      <%= link_to "Cancel", events_path, class: 'btn btn-warning' %>
    </p>
  </fieldset>
<% end %>