<article>
  <header>
    <h1><%= @event.title %></h1>
  </header>
  <h2>Details</h2>
  <p>
    <%= @event.details %>
  </p>
  <h3>Dates</h3>
  <p>
    <%= @event.date_start %> through <%= @event.date_end %>
  </p>

  <%= link_to "All Events", events_path %>
</article>
