<article>
  <header>
    <h1><%= @event.title %></h1>
  </header>
  <p>
    <%= @event.details %>
  </p>
  <h3>Dates</h3>
  <p>
    <%= @event.date_start %> through <%= @event.date_end %>
  </p>
  <nav>
    <%= link_to "Edit", edit_event_path(@event), class: 'btn btn-warning' %>
    <%= link_to "Delete", event_path(@event), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </nav>
</article>