<% content_for(:title, @link.name) %>

<article>
  <header align="center">
    <h1><%= @link.name %></h1>
    <p>
      <a href="<%= @link.website %>" target="_blank"><%= @link.website %></a>
    </p>
  </header>
  <p>
    <%= @link.comments %>
  </p>
  <nav>
    <% if current_user_admin? %>
      <%= link_to "Edit Link", edit_link_path(@link), class: 'btn btn-warning' %>
      <%= link_to "Delete Link", link_path(@link), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to permanently delete your account?' } %>
    <% end %>
  </nav>
</article>