<div class='well'>

  <div class="panel panel-warning">
    <div class="panel-heading">Inventory</div>
    <div class="panel-body">
      <p><%= link_to 'All We Have', items_path %></p>
      <% if current_user_admin? %>
        <!-- <p><%= link_to "Add New Item", new_item_path %></p> -->
      <% end %>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">Events</div>
    <div class="panel-body">
      <p><%= link_to 'All Events', events_path %></p>
      <% if current_user_admin? %>
        <p><%= link_to "Add New Event", new_event_path %></p>
      <% end %>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">Donators</div>
    <div class="panel-body">
      <p><%= link_to 'All Donators', donators_path %></p>
      <% if current_user_admin? %>
        <p><%= link_to "Add New Donator", new_donator_path %></p>
      <% end %>
    </div>
  </div>

  <% if current_user_admin? %>
    <div class="panel panel-warning">
      <div class="panel-heading">Volunteers</div>
      <div class="panel-body">
        <p><%= link_to "All Volunteers", users_path %></p>
        <p><%= link_to "Add New Volunteer", new_user_path %></p>
      </div>
    </div>
  <% end %>
</div>