<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= render 'layouts/header' %>
      </div>
      <div id="content">
        <div id="main" role="main">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <div id="aside">
                <%= render 'layouts/sidebar' %>
              </div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>